In [1]:
#Introducción a Analisis Descriptivo Exploratorio (EDA)

1. Importación de libreias

In [8]:
#!pip install pandas
##Libreria para manipulación de datos
import pandas as pd
##Libreria analisis matematico 
import numpy as np

2. Importación de Data

In [12]:
#Importación tradicional de data - Funciones
nombreArchivo = 'data.csv'

datos= pd.read_csv('./Dataset/'+nombreArchivo)

datos.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [13]:
##Mismo procedimiento pero con Funciones
def importData(ruta, nomArchivo):
    datos = pd.read_csv(ruta+nomArchivo)
    return datos

calorias = importData('./Dataset/','data.csv')

calorias.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [14]:
##Importar dato de tipo JS
def importDataJson(ruta, nomArchivo):
    datos = pd.read_json(ruta+nomArchivo)
    return datos

caloriaDos = importDataJson('./Dataset/','data.js')

caloriaDos.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [15]:
##Importación de datos desde la nube
def importNube(url, sep):
    df = pd.read_csv(url, sep=sep)
    return df

cancer = importNube('https://query.data.world/s/lzwxkoqy7xwsuf255pzz2py7usrt6u',';')

cancer.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [ ]:
##Cargamos libros de excel - especificamente una hoja
def importDatoExcel(ruta, nomArchivo, coluno, coldos):
    df = pd.read_excel(ruta+nomArchivo)
    dfdos = pd.DataFrame(df, columns=[coluno, coldos])
    return dfdos

productos = importDatoExcel('./Dataset/', 'Productos.xlsx', 'producto','precio')

productos

In [ ]:
##Importar multiples hojas de excel, misma estructura
def importDataMul(url, nomarchivo):
    df = pd.concat(pd.read_excel(url+nomarchivo, sheet_name=None),ignore_index=True)
    return df

dataConc = importDataMul('https://github.com/chris1610/pbpython/raw/master/data/','2018_Sales_Total_Tabs.xlsx')

dataConc.head()

#dataConc.info()

2. Extracción de la data

In [ ]:
dataConc.to_csv('dataUnida.csv', sep=';')

##Quita encabezados
dataConc.to_csv('dataUnida.csv', sep=';', header=False)

##Quitar la numeración de filas
dataConc.to_csv('dataUnida.csv', sep=';',index= False)

##Tildes o letra ñ o caracter especial
dataConc.to_csv('dataUnida.csv', sep=';', index=False, encoding='windows-1252')

##Otros formatos
dataConc.to_json('data.json')

##Extraer ciertas columnas.
dataConc.to_csv('dataUnida.csv', sep=';', index=False, encoding='windows-1252', columns=['sku','quantity'])

##Copias del dataframe
datanueva = dataConc

3. Operaciones Dataframes

In [ ]:
dataConc.shape

In [ ]:
dataConc.info()

In [ ]:
columnas = dataConc.columns
columnas

In [ ]:
dataConc.dtypes

In [ ]:
dataConc.count()

In [ ]:
dataConc.describe().T

In [ ]:
dataConc.nunique()

In [ ]:
dataConc['sku'].value_counts()

In [ ]:
productos['producto'].value_counts()

In [ ]:
prod = productos.rename(columns={'producto':'NomProducto'})
prod

In [ ]:
datanu = dataConc.drop(columns=['sku','name'])
datanu

In [ ]:
precios = datanu[['unit price','ext price']]
precios

In [ ]:
dataf = dataConc[dataConc['quantity']>43]
dataf

In [ ]:
dataConc.loc[dataConc['unit price']>59.93]

In [ ]:
dataConc.iloc[23:31,[2,3,5]]

In [ ]:
var = dataConc.iloc[2,[2,3,5]]

lista = list(var)

lista